<header>
  <nav>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/booking/search">Search Centers</a></li>
      {{#if user}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/app/Views/auth/login.handlebars">Login</a></li>
        <li><a href="/app/Views/auth/signup.handlebars">Sign Up</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
